APP_TITLE=Благотворительный фонд поддержки котиков QRKot
APP_DESCRIPTION=Благотворительный фонд поддержки котиков QRKot
DATABASE_URL=sqlite+aiosqlite:///./fastapi.db
SECRET=moij*OJB2iobiuwe33
TYPE=service_account
PROJECT_ID=YOUR_PROJECT_ID
PRIVATE_KEY_ID=YOUR_PRIVATE_KEY_ID
PRIVATE_KEY=YOUR_PRIVATE_KEY
CLIENT_EMAIL=YOUR_CLIENT_EMAIL
CLIENT_ID=YOUR_CLIENT_ID
AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
CLIENT_X509_CERT_URL=YOUR_CLIENT_X509_CERT_URL
UNIVERSE_DOMAIN=googleapis.com
EMAIL=YOUR_EMAIL